*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    background-attachment: fixed;
}

.section > h1{
    font-size: 50px;
    color:white;
    text-transform: capitalize  ;
    text-shadow: 2px 2px 3px black;

}

.section > p{
    font-size: 25px;
    color:white;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px black;
}


::-webkit-scrollbar{
    display: none;
}


#s2{
    background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#s3{
    background-image: url("https://images.pexels.com/photos/1552173/pexels-photo-1552173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#s4{
    background-image: url("https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}